<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.saintdev.hangrim">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" >
        <activity
                android:name=".views.activities.SplashActivity"
                android:screenOrientation="landscape"
                android:theme="@style/NoActionBarAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash Activity -->
        <activity
                android:name="kr.saintdev.hangrim.MainActivity"
                android:screenOrientation="landscape"
                android:theme="@style/NoActionBarAppTheme"/>

        <!-- My Card Activity -->
        <activity
                android:name="kr.saintdev.hangrim.views.activities.list.MyCardActivity"
                android:screenOrientation="landscape" />

        <!-- Shuffle Activity -->
        <activity
                android:name="kr.saintdev.hangrim.views.activities.drawing.ShuffleActivity"
                android:screenOrientation="landscape"
                android:theme="@style/NoActionBarAppTheme" />

        <!-- Create Card Activity -->
        <activity
                android:name="kr.saintdev.hangrim.views.activities.drawing.CreateCardActivity"
                android:screenOrientation="landscape" />

        <!-- Create Sign Activity -->
        <activity
                android:name="kr.saintdev.hangrim.views.activities.drawing.CreateSignActivity"
                android:screenOrientation="landscape" />

        <!-- Preview Activitys -->
        <activity android:name=".views.activities.preview.DrawingPreviewActivity"
                  android:screenOrientation="landscape" />
        <activity android:name=".views.activities.preview.MyExprViewActivity"
                  android:screenOrientation="landscape" />

        <!-- Share provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>